.button {
  display: inline-block;
  background-color: var(--color-blue-light);
  
  padding: 18px 20px;
  border-radius: 6px;

  margin-right: 0;

  font-size: 20px;

  color: #FFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  transition: 250ms;
}

.button:hover {
  background-color: var(--color-baby-blue);
  transform: scale(1.06);
}