.skill-tec {
  display: flex;
  align-items: center;
  font-family: 'Fugaz One', sans-serif;
  font-size: 25px;
  color: #FFF;
}

.skill-tec .img-icon {
  margin-right: 25px;
  width: 80px;
}

.skill-tec .img-icon.-square {
  height: 75px;
  width: 75px;
}

.skill-tec .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}